<mat-card class="message-card" *ngIf="noQueue$ | async">
  <mat-card-header>
    <mat-card-title>Service Bus Queue</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="message-card" *ngIf="hasQueue$ | async">
  <mat-card-header>
    <mat-card-title>Service Bus Queue</mat-card-title>
    <mat-card-subtitle>{{ queueName$ | async }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-action-buttons">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      <button mat-button color="primary" (click)="peek()">Peek</button>
      <button mat-button color="warn" (click)="receive()">
        Receive/Delete
      </button>
    </div>
    <mat-accordion
      #accordion="matAccordion"
      class="example-headers-align"
      multi
    >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Queue Properties </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayout.md="column" fxLayoutGap="10px">
          <mat-form-field
            appearance="fill"
            *ngFor="let property of properties$ | async"
          >
            <mat-label>{{ property.key }}</mat-label>
            <input disabled matInput [value]="property.value" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Queue Counts </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayout.md="column" fxLayoutGap="10px">
          <mat-form-field
            appearance="fill"
            *ngFor="let property of countDetails$ | async"
          >
            <mat-label>{{ property.key }}</mat-label>
            <input disabled matInput [value]="property.value" />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Messages </mat-panel-title>
        </mat-expansion-panel-header>
        <esb-message
          *ngFor="let message of messages$ | async"
          [message]="message"
        ></esb-message>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
